@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

.main_div {
  justify-content: center;
  align-items: center;
}

.header-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: center;
  justify-content: space-around !important;
  padding: 10px;
  margin-left: 200px;
}

.heading_down {
  font-weight: normal;
  color: gray;
}
.heading-image-container-profile img {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid gray;
}

.heading-image-container-profile {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.heading-image-container-profile h2 {
  margin-left: 10px;
}

/*Card 1*/

.bottom-container-profile-one {
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px black;
  flex-wrap: row;
}

.Card1-text-container {
  background: white;
  text-align: center;
  justify-content: center;
  color: gray;
  font-weight: normal;
}

.Card1-text-container h2 {
  color: black;
  font-size: normal;
  font-weight: 300px;
}

.Card1-text-container button {
  cursor: pointer;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #f0cf02, #b705ca);
  box-shadow: 0 9px #999;
  color: white;
}

.bottom-container-profile-main {
  display: flex;
  justify-content: space-around !important;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px black;
  background: transparent;
  margin-left: 300px;
  margin-right: 10%;
  background-color: rgb(245, 244, 239);
}

.bottom-container-profile-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

/*Second Cards*/

.sec-card-parta {
  display: flex;
  justify-content: space-between !important;
  column-gap: 15px;
}
.sec-card-parta p {
  font-size: 1rem;
  font-weight: bold;
}

.second-Cards {
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px black;
  justify-content: space-around !important;
  padding: 20px;
}

.second-Cards-heading-button button {
  width: 100%;
  height: 25px;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  color: white;
  background: linear-gradient(to bottom right, #f0cf02, #b705ca);
  box-shadow: 0 9px #999;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/*Third Card*/

.third-Cards {
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px black;
  justify-content: space-around !important;
  padding: 16px;
}

.third-Cards-header {
  font-weight: 200px;
}

.third-Cards-heading-button button {
  width: 100%;
  height: 25px;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  color: white;
  background: linear-gradient(to bottom right, #f0cf02, #b705ca);
  box-shadow: 0 9px #999;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

@media (max-width: 1125px) {
  .bottom-container-profile-main {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .bottom-container-profile-one {
    padding-bottom: 20px;
    margin-left: 22%;
  }

  .bottom-container-profile-two {
    margin-top: 60px;
  }
}

@media (max-width: 875px) {
  .header-profile {
    display: block;
    justify-content: center !important;
  }
  .heading-image-container-profile {
    justify-content: center !important;
  }
  .heading_container {
    justify-content: center !important;
    margin-left: 10%;
  }
  .bottom-container-profile-one {
    margin-left: 10%;
  }
}

@media(max-width:740px){
       .bottom-container-profile-one {
              width: 225px;
            }

            .third-Cards-heading-button button{
                   font-size: small;
                   height:40px;
                   padding-top:5px;
            }

            .second-Cards-heading-button button{
              font-size: small;
              height:40px;
              padding-top:5px;
            }
}
